body {
  font-family:'Raleway', sans-serif;
  overflow-x: hidden;
}

p {
  font-family:'Raleway', sans-serif;
  font-size: 14px;
}

.text-muted {
  color: #777777;
}

.text-primary {
  color: #222222;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  color: #484D4F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Raleway', sans-serif;
  font-weight: 700;
}

/*Header*/

header {
  background: none;
  color: #484D4F;
  max-height: 100%;
  height: 100vh;
}

header .row {
  padding-top: 80px;
  padding-bottom: 50px;
}

header .intro-text {
  padding-left: 3%;
}

header .intro-text .intro-heading {
  font-weight: 700;
  font-size: 55px;
}

header .intro-text .intro-lead-in {
  padding-top: 2%;
  font-family: 'Roboto Mono', sans-serif !important;
  font-weight: 100 !important;
}

header ul.social-buttons {
  padding-top: 2%;
}

header #image {
  float: right;
  max-width: 100%;
  height: 220px;
  border-radius: 50%;
  border: 5px solid #484D4F;
  margin-top: 2%;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  header .intro-text {
    font-size: 3.5em;
    float: none;
  }
  header .intro-heading {
    font-size: 1.75em;
  }
}

@media (max-width: 991px) {
  header .intro-text {
    text-align: center;
    padding: 0;
  }

  header #image {
    float: none;
    text-align: center;
    margin: 0 auto;
  }

  header .container {
    padding-top: 100px;
  }
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #484D4F;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active {
  border: 3px solid #484D4F;
}

  /* Nav bar */

.navbar-custom {
  background-color: white;
  border-color: transparent;
}

.navbar-custom .navbar-collapse {
  border-color: transparent;
}

.navbar-custom .navbar-brand {
  color: #484D4F;
  font-family:'Raleway', sans-serif;
  font-size: 20px!important;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #484D4F;
  background-color: white;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  color: #484D4F;
  background-color: white;
}

.navbar-custom .navbar-toggle {
  background-color: white;
  border-color: transparent;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #484D4F;
  font-size: 12px;
}

.navbar-custom .nav li a {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #484D4F;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: black;
  outline: none;
  font-weight: 700;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #484D4F;
  background-color: white;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    /*border-radius: 3px;*/
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: white;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

/*Portfolio Section*/

#portfolio {
  background: none;
  color: #484D4F;
  min-height: 100vh;
}

#portfolio .section-subheading {
  font-size: 16px;
  font-family: 'Roboto Mono', sans-serif !important;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
}

#portfolio a:hover {
  color: black;
  text-decoration: none;
  outline: none;
  font-weight: 700;
}

#portfolio .portfolio-item {
  text-align: center;
  margin: 0 0 15px;
  right: 0;
  display: block;
  position: relative;
  max-width: 400px;
}

#portfolio .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: none;
  text-align: center;
  padding: 25px;
}

#portfolio .portfolio-caption p {
  font-family: 'Roboto Mono', sans-serif !important;
  font-size: 16px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption a:hover {
  text-decoration: none;
  position: relative;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  font-family: 'Raleway' sans-serif;
  text-transform: none;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;

  }

/*Experience Section*/

#experience{
  background: none;
  color: #484D4F;
  min-height: 100vh;
}

#experience .section-subheading {
  font-size: 16px;
  font-family: 'Roboto Mono', sans-serif !important;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
}

.timeline {
  list-style: none !important;
  padding: 0;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #EBCCEB;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
  border-radius: 100%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: justify;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: justify;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }

/* about */

.about{
  background: none;
  color: #484D4F;
  min-height: 100vh;
}

.about .section-heading {
  padding-top: 100px;
  padding-bottom: 50px;
}

.about .section-subheading {
  font-size: 16px;
  font-family: 'Roboto Mono', sans-serif !important;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.about .blurb {
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}


/* footer */

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: 'raleway', sans-serif;
  text-transform: uppercase;
  text-transform: none;
}


/* other */

.img-centered {
  margin: 0 auto;
}

section {
  padding: 10px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: 'Roboto Mono', sans-serif !important;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }

::-moz-selection {
  text-shadow: none;
  background: #EBCCEB;
}
::selection {
  text-shadow: none;
  background: #EBCCEB;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #EBCCEB;
}
