.sectionFrame--header {
  display: flex;
  flex-wrap:wrap;
  position: relative;
  height: 15%;
  z-index:100;
  padding:0 7%;

}

.sectionFrame--header--identity {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  width: 33.33333%;
}

.sectionFrame--header--infos {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:flex-end;
  width: 66.66666%;
}

@media screen and (min-width: 500px) {
  .sectionFrame--header--identity, .sectionFrame--header--infos {
    width: 50%;
  }
}

.sectionFrame--header--infos--langChoice {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  padding-right:5%;
}

.lang-item a {
  padding:0.5em;
}

.lang-item-first::after {
  content: "/";
}
.current-lang a {
  color: red;
}
.lang-item a:hover {
  color: red;
}

.sectionFrame--header--infos--title {
  font-weight: bold;
}


.sectionFrame--main {
  display: flex;
  flex-wrap:wrap;
  height: 65%;
}

.sectionFrame--main--scrollInfo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content:center;
  height: 7vw;
  width: 100vh;
  margin: 0 0 0 7vw;
  z-index: 100;
  transform-origin: 0 0;
  transform: rotate(90deg);

}

@media screen and (min-width: 500px) {
  .sectionFrame--main--scrollInfo {display: flex;flex-wrap: wrap;}
}

.sectionFrame--main--scrollInfo--wrapper {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  transform: scale(0.8);
}


@media screen and (min-width: 700px) {
  .sectionFrame--main--scrollInfo--wrapper {
      transform: scale(1);
  }
}

.sectionFrame--main--scrollInfo--text {
  padding:0px 1em 1px 1em;
  font-weight: bold;
}

.sectionFrame--mainContent {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  width:86%;

}

.sectionFrame--mainContent--wrapper {
  display: flex;
  flex-wrap:wrap;
  flex-direction : column;
  align-items:flex-start;
  justify-content:center;
  width: 80%;
}

.sectionFrame--footer {
  display: flex;
  align-items:center;
  position: relative;
  height: 15%;
  width:100%;
  padding:0 7%;
}

.sectionFrame--footer--text {
  font-weight: bold;
  width: 66.66666%;
}

.sectionFrame--footer--arrowWrapper {
  display: flex;
  align-items:center;
  position: relative;
  justify-content:flex-end;
  height: 2em;
  width: 33.33333%;
}

@media screen and (min-width: 600px) {
  .sectionFrame--footer--text, .sectionFrame--footer--arrowWrapper {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .sectionFrame--footer--text{
    width: 33.33333%;
  }
  .sectionFrame--footer--arrowWrapper {
    width: 66.66666%;
  }
}

@media screen and (min-width: 1000px) {
  .sectionFrame--footer--text{
    width: 25%;
  }
  .sectionFrame--footer--arrowWrapper {
    width: 75%;
  }
}

/* Sections fadeIn apparition */

.section1, .section2, .section3, .section4 {
  opacity: 1;
  transition:opacity 2s;
}
